.create-account {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.create-account__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.create-account__logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.create-account__title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}

.create-account__form {
  display: flex;
  flex-direction: column;
}

.create-account__form div {
  display: flex;
  flex-direction: column;
}

.create-account__label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.create-account__input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.create-account__input-name,
.create-account__input-email,
.create-account__input-password {
  margin-bottom: 22px;
}

.create-account__primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.create-account__login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .create-account__form-container {
    height: 100%;
  }

  .create-account__form {
    height: 100%;
    justify-content: space-between;
  }
}